.createNote {
  width: 50%;
  border-radius: 3px;
  padding: 10px;
  margin: 20px auto 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  &__title__container {
    display: flex;
    flex-direction: row-reverse;
    button {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      outline: transparent;
      background: transparent;
      border: 1px solid gray;
      &:hover {
        background: gray;
      }
    }
  }
  &__title {
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 16px;
    &::placeholder {
      font-weight: 500;
      font-size: 16;
    }
  }

  &__desc {
    min-height: 100px;
    font-weight: 300;
    font-size: 16px;
  }

  &__area {
    overflow: auto;
    padding: 10px;
    display: block;
    border-radius: 3px;
    border: none;
    max-height: 100vh;
    font-family: sans-serif;
    // box-sizing: content-box;
    width: 100%;
    background: inherit;
  }

  &__button__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    button {
      padding: 8px;
      border: 1px solid gray;
      background: transparent;
      border-radius: 3px;

      &.button {
        &__archive {
          width: 35px;
          height: 35px;
          padding: 0;
          outline: transparent;
          background: transparent;
          border-radius: 50%;
          &:hover {
            background: gray;
          }
        }

        &__selected {
          background: gray;
        }
      }
    }
  }
}
