.masonary {
  width: 100%;
  &__grid {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 30px;
  }

  &__item {
    // background-color: #ffffff;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 24px;

    &.pinned_card {
      .pin_icon {
        display: block;
      }
    }

    &__title {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 30px);
      }
      .pin_icon {
        border: none;
        display: none;
        outline: none;
        background: transparent;
      }
    }

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      .masonary__item__trash {
        display: block;
      }

      .masonary__item__archive {
        display: block;
      }

      .pin_icon {
        display: block;
      }
    }

    &__desc {
      padding: 10px 10px 5px 10px;
      overflow: hidden;
      font-weight: 400;
      p {
        margin-bottom: 10px;
      }
    }

    &__button {
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      padding: 10px;
      border: none;
      // background: transparent;
      // background-image: linear-gradient(to bottom top, #ffffff, transparent);
      background: white;
      border-top: 1px solid #e3dada42;
    }

    &__trash {
      display: none;
      padding: 0 5px;
      background: transparent;
      border: none;
    }

    &__archive {
      display: none;
      padding: 0 5px;
      background: transparent;
      border: none;
    }

    &__showmore {
      display: flex;
      width: 100%;
      justify-content: space-between;
      // height: 24px;
      position: absolute;
      bottom: 8px;
      // padding: 120px 0 0;
      background-image: linear-gradient(
        to top,
        #ffffff,
        rgba(255, 255, 255, 0.4)
      );

      &__button {
        display: none;
        background: inherit;
      }
    }
  }
}
