.search__input {
  padding: 10px;
  width: 12rem;
  height: 2.5rem;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 300;
  padding: 0.2rem 0.5rem;
  margin-right: 8px;
  -moz-appearance: none; /* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none;

  @media only screen and (min-width: 768px) {
    width: 30rem;
  }

  &::placeholder {
    font-size: 1rem;
    font-weight: 300;
  }
}

.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &__left {
    display: flex;
  }

  &__input__container {
    display: flex;
    align-items: center;
  }
  .icon {
    border: none;
    background: transparent;
    margin-right: 10px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 14px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 1px 1px gray;
  }

  input:checked + .slider {
    background-color: gray;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
