.note {
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s;
  @media only screen and (min-width: 768px) {
    width: 100%;
    padding: 0 8px;
  }
}

.createNote__input {
  padding: 10px;
  width: 40rem;
  height: 2.5rem;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 300;
  // active-border-width: '1px',
  // activebordercolor: '#585858',
  padding: 0.2rem 0.5rem;

  &::placeholder {
    font-size: 1rem;
    font-weight: 300;
  }
}

.createNote {
  &__expanded {
    width: 50%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin: 20px auto 40px;

    input {
      width: 100%;
      border: none;
      padding: 10px;
      font-size: 16px;
      font-weight: 300;
      &::placeholder {
        // font-size: 1px;
        letter-spacing: 1.6px;
        font-weight: 500;
      }
    }
  }
}

.modal {
  &__overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.64);
  }

  &__content {
    position: absolute;
    top: 16%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-right: 0px;
    transform: translateX(-50%);
    width: 90%;
    @media only screen and (min-width: 1025px) {
      width: 50%;
    }
  }

  &__container {
    textarea {
      overflow: auto;
      padding: 10px;
      display: block;
      border-radius: 3px;
      border: none;
      max-height: 70vh;
      font-family: sans-serif;
      width: 100%;
      font-size: 16px;
    }

    &__title {
      display: flex;
      margin-bottom: 8px;
      textarea {
        width: calc(100% - 30px);
      }

      button {
        background: transparent;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        outline: transparent;
      }
    }

    .close__btn {
      padding: 8px 16px;
      outline: transparent;
      background: transparent;
      border-radius: 3px;
      box-shadow: 0 1px 1px gray;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    .button {
      &__archive {
        width: 35px;
        height: 35px;
        padding: 0;
        outline: transparent;
        background: transparent;
        border-radius: 50%;
      }

      &__selected {
        background: gray;
      }
    }
  }
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
