.search {
  width: 80%;
  padding: 0 10px;

  &__results {
    padding-top: 24px;
    @media only screen and (min-width: 768px) {
      padding-top: 40px;
    }
  }

  &__noresult {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text-center {
  text-align: center;
}
