.container {
  padding: 10px;
  display: flex;
  margin: auto;
  max-width: 80%;
  @media only screen and(max-width: 768px) {
    max-width: 100%;
  }

  @media only screen and (min-width: 768px) {
    &__margin {
      margin-left: 20%;
    }
  }
}
