.heading-h4 {
  font-size: 18px;
}

.heading-h2 {
  font-size: 22px;
}

.heading-h1 {
  font-size: 30px;
}

.heading-h3 {
  font-size: 20px;
}

.sub-heading {
  margin-bottom: 8px;
  font-weight: 400;
}

.dark-theme {
  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  svg,
  button {
    color: white;
  }
  .masonary__item__desc {
    color: white;
  }

  .masonary__item {
    border: 1px solid gray;
  }
  .createNote {
    border: 1px solid gray;
  }

  .masonary__item__showmore {
    background-image: none;
  }
  textarea,
  input,
  [contenteditable] {
    caret-color: white;
    background: inherit;
    color: white;
  }

  input {
    border: 1px solid gray;
  }

  .header,
  .sidebar,
  .modal__content {
    background: #202124;
  }

  .header {
    .slider::before {
      background-color: #48494e;
    }
  }
}
